{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'newCss/mainStyles.css'%}">

    <title>{%block title%}About Positive young women voices {%endblock%}</title>
  </head>

  <body>
   

    <section class="abSectionPage">
      <div class="aboutMiniContainer">
        <img src="{%static 'images/about.webp'%}" alt="" />

        <div class="aboutParaContainer">
          <h1>About us</h1>
          <p>
            <span>Positive Young Women Voices (PYWV)</span> is a community based
            organization which started as a self-help group in the year 2014 but
            later registered as a community based organization in the year 2017.
            The idea of group formation was derived when these advocates noticed
            there were major challenges facing young women and girls living with
            and at risk of HIV within the Nairobi slums of Dandora. The major
            challenges include teenage pregnancy, poverty, gender based
            violence, access to friendly health facility and information. Armed
            with experience they chose to fill the gaps by offering mentorship,
            provide linkages and referrals, create awareness and offer
            information. PYWV partners with other organisations nationally and
            internationally to achieve its mandate. They are NEPHAK, Dandora Hip
            Hop City, EGPAF, ICW, Sauti Skika, AYARHEP, PIPE among others.
          </p>
        </div>
      </div>
    </section>

    <section class="vissMissSection">
      <div class="vissMissContainer">
        <div>
          <h2>Vision</h2>
          <p>
            A society where young women and girls in all their diversities
            attain their rights to health services, education as well as enjoy
            equal economic and social growth within their community. A
            sustainable humanization of women improving and strengthening the
            livelihoods of AGYW.
          </p>
        </div>

        <div>
          <h2>Mission</h2>
          <p>
            Empower and educate girls and young women through mentorship
            programs, workshops and seminars and disseminating information on
            sexual reproductive health, HIV, violence and discrimination.
            Promoting economic opportunities, assisting in education and
            employment possibilities and creating a safe environment to advance
            the life of young women.
          </p>
        </div>

        <div>
          <h2>Core values</h2>
          <p>
            We commit to these ourselves to the following core values and
            principles: Integrity and Accountability Innovation and creativity
            Heart for humanity Good Leadership and Equity Commitment and
            initiative
          </p>
        </div>
      </div>
    </section>

    <section id="activities" class="activitiesSection">
      <h3 class="actsText">Activities</h3>

      <div class="actsMiniCont">
        <div class="holder">
          <img
            src="https://i0.wp.com/positiveyoungwomenvoices.org/wp-content/uploads/2021/02/AAGM-1-scaled.jpg?resize=1536%2C1024"
            alt=""
          />
          <h2>Empowerment</h2>

          <p>
            The empowerment program will be building the capacities of young
            women and girls affected and living with HIV to get the best care,
            treatment and support and to improve their lives with the right
            information as well as economic growth for sustainable livelihoods.
          </p>
        </div>

        <div class="holder">
          <img
            src="https://i0.wp.com/positiveyoungwomenvoices.org/wp-content/uploads/2021/02/VAWG-Page-photo-scaled.jpg?resize=1536%2C1024"
            alt=""
          />
          <h2>Prevention</h2>

          <p>
            PYWV prevention program will major on prevention with positive
            program where the young women who are influencers will act as
            mentors to the younger ones through psycho social support, peer
            education, facilitation of referrals for treatment ,screening and
            management of other non-communicable diseases and awareness
            creation.
          </p>
        </div>

        <div class="holder">
          <img src="{%static 'images/about.webp'%}" alt="" />
          <h2>Advocacy</h2>

          <p>
            We aim to advocate for universal access to quality health services,
            achievement of human rights and meaningful involvement of young
            women and adolescent girls in the center of policy creation and
            implementation. YWPV will also lobby to ensure that policy makers
            make and implement policies that are gender sensitive and
            non-discriminative for gender equality has not only been a challenge
            in Kenya but also in Africa ,the organization will spear head the
            advocacy to enhance this especially in Nairobi slums.
          </p>
        </div>

        <div class="holder">
          <img src="{%static 'images/about.webp'%}" alt="" />
          <h2>Networking and collaboration</h2>

          <p>
            For realization of positive outcomes of the programs networking and
            collaboration will be at the core of PYWV for we are not a service
            providing organization and hence the need to engage organizations
            and Institutions to see that members are effectively catered for
            .The organization will also engage other partners for the purpose of
            resources mobilization.
          </p>
        </div>

        <div class="holder">
          <img src="{%static 'images/about.webp'%}" alt="" />
          <h2>Care and Support</h2>

          <p>
            PYWV is intending to support the most vulnerable girls and young
            women in issues such as provision of sanitary towels, assisting them
            acquire bursaries for their school fees and the organization is
            intending to provide mentorship and sexuality education for girls
            and young women in the society .
          </p>
        </div>
      </div>
    </section>

  </body>
</html>
{%endblock%}
