{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Beryl Wafula || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Beryl Wafula. Socio-economic Empowerment Lead.jpg"
            alt="Anne Mugo Positive young women"
            class="personImg"
          />

          <div>
              <h4>Beryl Wafula</h4>
              <h6>Socio-economic Empowerment Lead</h6>
              <hr />
              <p>
                Anne is an intersectional feminist who uses her skills to lead and advocate for the rights of women and girls, driven by the belief that our
              </p>
          </div>
        </div>

    </section>

   

  </body>
  
</html>
{%endblock%}