{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Consolata Akoth || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Consolata Akoth. Mentorship Lead.jpg"
            alt="Consolata Akoth Positive young women"
            class="personImg"
          />

          <div>
              <h4>Consolata Akoth</h4>
              <h6>Mentorship Leader</h6>
              <hr />
              <p>
                I envision a world where; girls' (in all their diversity)voices are heard, women(in all their diversity) are bold enough to take up any and every role considered for men!, there's gender equity and every girl in all their diversity is proud to be a female, not afraid of their periods anymore, and grow to be empowered ladies!
              </p>
          </div>
        </div>

    </section>

   

  </body>
  
</html>
{%endblock%}