{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Contact us || Positive young women voices {%endblock%}</title>

  <body>

    <section class="reachUs">
      <div class="reachDiv">
        <div class="leftColored">
          <h2>Get in touch</h2>
        
          <hr>

          <div class="contColl">

            <img
              src="{%static 'images/callLogo.png'%}"
              alt="call logo positive young women voices"
            />
            <h5><span> Call us:</span> <a href="">+254705973115</a></h5>
          </div>

          <div class="contColl">
            <img
              src="{%static 'images/smsLogo.png'%}"
              alt="sms logo positive young women voices"
            />
            <h5><span>Text:</span> <a href="">+254705973115</a></h5>
          </div>

          <div class="contColl">
          <img
            src="{%static 'images/gmailLogo.png'%}"
            alt="gmail logo positive young women voices"
          />
          <h5>
            <span> Email:</span> <a href="">info@pywv.org</a>
          </h5>
        </div>

        
        </div>

        <div class="formDiv">
          <h1>What's on your mind?</h1>

          <form action="">
            <label for="name">Name *</label>
            <input type="text" placeholder="e.g John Doe" required />
            <label for="email">Email *</label>
            <input type="email" placeholder="e.g john@gmail.com" required />
            <label for="phoneNumber">Phone number *</label>
            <input type="tel" placeholder="e.g +254724753175" required />
            <label for="message">Message *</label>
            <textarea
              name=""
              id=""
              cols="30"
              rows="5"
              required
              placeholder="Your message here"
            ></textarea>
            <input class="subBtn" type="submit" />
          </form>
        </div>
      </div>
      
    </section>
 
    <script>
      function openResources() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      function openWhat() {
        document.getElementById("myDropdownWhat").classList.toggle("show");
      }
      function openAboutUs() {
        document.getElementById("myDropdownAboutUs").classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".resourcesBTN")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }

        if (!event.target.matches(".resourcesBTNWhat")) {
          var dropdowns = document.getElementsByClassName(
            "dropdown-contentWhat"
          );
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }

        if (!event.target.matches(".resourcesBTNAboutUs")) {
          var dropdowns = document.getElementsByClassName(
            "dropdown-contentAboutUs"
          );
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>
{%endblock%}
