{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Cynthia Katanu || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Cynthia Katanu. Fianance manager.jpg"
            alt="Cynthia Katanu Positive young women"
            class="personImg"
          />

          <div>
              <h4>Cynthia Katanu</h4>
              <h6>Fianance manager</h6>
              <hr />
              <p>
                Cynthia Katanu is currently the Finance Officer at Positive Young Women voices and is tasked with coordinating and providing Finance, budget, and administrative support involving the recording and interpretation of financial and budgetary information.
              </p>
          </div>
        </div>

    </section>
  </body>
  
</html>
{%endblock%}