{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Socio-economic empowerment || pywv {%endblock%}</title>
  </head>
  <body>
 
    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Socio-economic empowerment</h1> <br>
         <img src="../../static/images/socioEconomic.jpg" alt="Gender Rights Promotion- pywv">
           <br><br>
          <p>
            We have a <strong>socio_economic empowerment department</strong>  to liberate adolescent girls and young women from the <strong>cycle of poverty</strong>  by giving them resources to raise their community. This will also be attained by equipping them with financial and entrepreneurship training.
            It is structured to <strong>eradicate extreme poverty</strong> , link the women with job opportunities and also be able to provide start up kits for adolescent girls and young women living in <strong>Dandora</strong>  

            <br> <br>

   
          </p>
        </div>
      </div>
    </section>
   
  </body>
</html>
{%endblock%}
