{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Prevention and ending violence against women and girls || Positive young women voices {%endblock%}</title>
  </head>
  <body>
 
    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Prevention and ending violence against women and girls</h1> <br>
         <img src="../../static/images/prevViolence.JPG" alt="Prevention and ending violence against women and girls- pywv">
           <br><br>
          <p>
            We are in a society where <strong>Women and Girls are not safe</strong> anywhere and if we are to stand in solidarity, we have to pledge to do something to free women and girls from the shackles of Violence. At <strong>Positive Young Women Voices</strong> , we are currently conducting a project, <strong>"Preventing and Ending Violence against women and Girls"</strong> .We engage young women in their diversity within the phases in <strong>Dandora</strong>  including teenage mothers, survivors of Gender Based Violence and those most affected through trainings’ conducted bi-montly discussing root causes of Violence, principles of Gender and the impact it creates in women, girls and community at large from a range of perspectives. <br><br>

            In efforts of preventing and <strong>ending Violence against women and girls</strong> , we use a gender transformative intervention, involving young men and understanding the role they play as influencers and allies. We enhance victim/survivor centered response to Gender Based Violence by creating linkages with local authorities as well as referrals to the organizations and shelters responding to Gender Based Violence. <br> <br>

            We trend the <strong>#ItEndsWithUs</strong>  because we start a conversation, we believe the survivors, we empower and stand against violence against women and girls.

   
          </p>
        </div>
      </div>
    </section>
   
  </body>
</html>
{%endblock%}
