{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Fahe Kerubo || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Fahe Kerubo. Programs officer.jpg"
            alt="Fahe Kerubo Positive young women"
            class="personImg"
          />

          <div>
              <h4>Fahe Kerubo</h4>
              <h6>Programs officer</h6>
              <hr />
              <p>
                Fahe Kerubo is a graduate with a Bachelor's degree in Criminology and Security Studies. They are a Sexual Reproductive Health and Rights Youth Advocate and Gender Issues Activist with more than 5 years of experience in Womxen and Girls Empowerment and Advocacy Work. They Advocate for Inclusion and Empowerment of the LBQ Womxen and Adolescent Girls in Positive Young Women Voices. Feminist Dream: the complete disruption and destabilization of patriarchy and oppressive systems that oppress and disproportionately affect womxn, girls, and third gender persons through radical and continuous Empowerment of Girls and Womexn through advocacy and pushing for majority womexn representation in leadership spaces and decision making tables. scription
              </p>
          </div>
        </div>

    </section>
  </body>
  
</html>
{%endblock%}