{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HIV prevention and care || pywv</title>
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
   

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>HIV prevention and care</h1>
          <hr>
          <h4><strong>Includes our support group for young women living with HIV and awareness creation on HIV and TB</strong> </h4> <br>
          <p>
            Ending the <strong>AIDS Epidemic</strong>  will depend on greater efforts to reduce new HIV Infections, prevent AIDS-related deaths, create awareness on U=U and bridge the gap between civil societies, healthcare providers and AGYW ,infected and affected, through provider-consumer education support programmes. <br><br>

           <strong>PYWV</strong>  hence acts as a gap between <strong>health care workers and a group of young women</strong>  who are recipients of care identified as <strong>" MY TRIBE "</strong> .MY TRIBE has a support forum every last wednesday of the month to discuss mainly on challenges they face as recipients of care and brainstorm on solutions that will help in positive living,reduce HIV risks in the community and help in hitting the global target of reducing the risk of HIV. <br><br>

            Components of <strong>ANTIRETROVIRAL THERAPY</strong>  i.e proper adherence of ARVS,Treatment literacy,Nutrition,positive living are also key subjects during the support forums that help MY TRIBE to navigate through their daily endeavors.
   
          </p>
        </div>
      </div>
    </section>

  
  </body>
</html>
{%endblock%}