{%extends 'base.html'%} {%block content%}

{% load static %}


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%} Positive young women voices {%endblock%}</title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  </head>

  <body>

    <div id="carouselExampleInterval" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">

      <div class="nameDiv  ">
        <h2 class="headerGlow">PYWV</h2>
 
        <h5>Positive Young Women Voices</h5>
        <p>Humanizing young women and adolescent girls in all their diversities.</p>
      </div>

      <div class="carousel-inner">

        
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="../../static/images/newDisp1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../../static/images/newDisp2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000" >
          <img src="../../static/images/newDisp4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- <div class="mainImgDiv">
      <img src="../../static/images/displayImage.jpg" alt="">
      <div class="nameDiv">
        <h2>PYWV</h2>
      </div>
    </div> -->

    <section class="visionMissionLandingSection">
      <div class="visionMissionLanding">
        <div class="scroll-element js-scroll slide-left" >
          <img class="visMisVal " src="../../static/images/vision.png" alt="">
          <h4><span>Humanizing</span>  young women and adolescent girls in all their diversities</h4>
        </div>
  
        <div class="scroll-element js-scroll slide-right">
          <img class="visMisVal " src="../../static/images/mission.png" alt="">
          <h4><span>Mentor and advocate</span>  for young women and adolescent girls in all their diversities to advance their rights through access to inclusive healthcare, advocacy and social and economic empowerment</h4>
        </div>
      </div>

      <div class="valuesDiv scroll-element js-scroll slide-left">
        <img class="visMisVal " src="../../static/images/core-value.png" alt="">

        <div class="valueItemContainer">
          <div>
            <h4><span>Respect</span></h4>
            <h4> 
              We hold each and every one within the PYWV spaces with utmost dignity and regard for who they are, their opinions, perspectives and diversities</h4>
          </div>
  
          <div>
            <h4><span>Integrity</span></h4>
            <h4>
              We uphold honesty, professionalism and trust in all our endeavours and are committed to ensure that our choices and decisions are to the best interest of PYWV and stakeholders.</h4>
          </div>
  
          <div>
            <h4><span>Inclusivity</span></h4>
            <h4>
              We are committed to treat everyone with fairness and equality regardless of their gender, sexuality, religion, social class and beliefs.</h4>
          </div>
  
          <div>
            <h4><span>Humanity</span></h4>
            <h4>
              We treat everyone we interact with with dignity, kindness and embrace their value simply because they are human.</h4>
          </div>
  
          <div>
            <h4><span>Transparency</span></h4>
            <h4>
              We are accountable to our stakeholders by ensuring openness in our communication, being good stewards of resources entrusted to us and being responsible for our actions
          </div>
          </h4>
        </div>
      </div>
    </section>

  
    <h1 class="wobble achievementText">Our achievement</h1>
    <section class="numbersSection ">
      
      <div class="numbersContainer ">

        <img src="../../static/images/girls.png" alt="">
        <h2 class="pluSign"><span class="counter-count"> 300 </span> +  </h2>
        <h2>Girls reached</h2>
      </div>

      <div class="numbersContainer">
        <img src="../../static/images/pads.png" alt="">
        <h2 class="pluSign"><span class="counter-count"> 36000 </span> +  </h2>
        <h2>Pads distributed </h2>
      </div>

      <div class="numbersContainer">
        <img src="../../static/images/training.png" alt="">
        <h2 class="pluSign"><span class="counter-count"> 50 </span> +  </h2>
        <h2>Training programmes covered</h2>
      </div>
    </section>


    <section class="stackblocksLetterSection">
      <h1 class="wobble newsletterText">Newsletter</h1>

      <div class="stackblocksLetter stackblocks-embed" data-stackblock="cl4e0ah9f004809l185xo1hdv"></div>
      <script src="https://frame.stackblocks.app/frame.js"></script>
    </section>


    <div class="feedTexts scroll-element js-scroll slide-right">
      <h1 class="wobble">News feed</h1>
      <h5> <a href="{% url 'allPosts' %}"> View all</a></h5>  
    </div>
    

    <section class="recentPostsSection">
        {% for post in object_list|slice:":3" %}
        {%if post %}
        <a class="card-link" href="{% url 'article-details' post.pk %}">
          <div class="card">
            {%if post.header_image%}
              <img style="width:340px;height:200px;" src="{{post.header_image.url}}" class="card-img-top" alt="...">
            {%else%}
              <img style="width:340px;height:200px;" src="https://qawerk.com/wp-content/uploads/2021/07/no-image-available-icon-6.png" alt="">
            {%endif%}

            <div class="card-body">
              <h5 class="card-title"> {{post.title|truncatechars:50}}</h5>
              <br>
              <p class="card-text"> {{post.snippet|truncatechars:120}}</p>
              <hr>
              <p class="card-text"><small class="text-muted">{{post.author.first_name}} {{post.author.last_name}} | {{post.date_created}}</small></p>
            </div>
          </div>
        </a>
        {%endif%}
        {%endfor%}
    </section>


    <h1 class="wobble ourActivitiesTextAbsolute">Our partners</h1>

    <section class="partnersSection">
      <a href="https://ajws.org/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Ajws-org-logo.svg/1200px-Ajws-org-logo.svg.png" alt="american jewish world service positive young women's voices">
      </a>

      <a href="https://www.unaids.org/en" target="_blank">
        <img src="https://i0.wp.com/www.un.org/youthenvoy/wp-content/uploads/2014/09/unaids-logo-260px1.jpg?fit=260%2C173&ssl=1" alt="UNAIDS Positive young women's voices ">
      </a>
      
      <a href="https://gnpplus.net/" target="_blank">
        <img src="https://gnpplus.net/wp-content/themes/gnpplus/images/logo.svg" alt="Global network of people living with aids positive young women's voices">
      </a>
      
      <a href="https://hivos.org/" target="_blank">
        <img src="https://hivos.org/assets/2018/07/HIVOS-2.jpg" alt=" Hivos positive young women's voices">
      </a>

      <a href="https://wearepurposeful.org/" target="_blank">
        <img src="https://wearepurposeful.org/wp-content/uploads/2021/01/Purposeful-logo-400px.png" alt=" Hivos positive young women's voices">
      </a>

      <a href="https://www.daysforgirls.org//" target="_blank">
        <img src="https://www.daysforgirls.org/wp-content/uploads/2020/12/Days-For-Girls-logo.png" alt=" Hivos positive young women's voices">
      </a>
      
    </section>
  

   <script>

    $(document).ready(function(){
      $('.counter').counterUp({
        delay: 10,
        time: 1200
      });
    });

    $('.counter-count').each(function () {
      $(this).prop('Counter',0).animate({
          Counter: $(this).text()
      }, {
          duration: 50000,
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
  });
    
    
   </script>

  </body>


 
</html>



 {%endblock%}
