{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Lucy Njenga || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Lucy Wanjiku Njenga. Executive Director and Team Lead.jpg"
            alt="Lucy Njenga Positive young women"
            class="personImg"
          />

          <div>
              <h4>Lucy W. Njenga</h4>
              <h6>Executive Director and Team Leader</h6>
              <hr />
              <p>
                Lucy Wanjiku Njenga is the Founder and Team Leader at Positive Young Women Voices. She has 5+ years of experience and expertise that cuts across Gender and Development, Adolescent Health in HIV, Girls and Young Women Sexual and Reproductive Health and Rights, HIV in Global Health, International relations, Conflict Management, Programme Planning, Leadership and Team Building, and Management as well Strategy Development.
              </p>
          </div>
        </div>

    </section>

   

  </body>
  
</html>
{%endblock%}