{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Lydia Odipo || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Lydia Odipo. Administrative Coordinator.jpg"
            alt="Lucy Njenga Positive young women"
            class="personImg"
          />

          <div>
              <h4>Lydia Odipo</h4>
              <h6>Administrative Coordinator</h6>
              <hr />
              <p>
                Lydia Odipo is a diploma holder from Kenya Institute of Management and currently volunteering at Positive Young Women Voices (PYWV) as the administrative coordinator. Her duties and responsibilities at PYWV are supporting regular office operations and scheduling internal and external meetings.
              </p>
          </div>
        </div>

    </section>

   

  </body>
  
</html>
{%endblock%}