{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>International menstruation day</title>
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
   

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Menstrual health and mentorship</h1>
          <img class="mentImageInline" src="../../static/images/menstrual.jpg" alt="menstrual-health-pywv"> <br> <br>
          <p>
            The <strong>mentorship department</strong>  works closely with <strong>adolescent girls of ages 9 to 19</strong>  in all their diversities in the <strong>Dandora community</strong> . We meet with girls in the community, and a large number of around 200 in the four schools we visit. The mentors in the department facilitate sessions on <strong>Sexual Reproductive Health and Rights</strong> , this includes safe abortion practices services and access, adolescence and Peer pressure, menstrual hygiene, and other sessions like healthy communication and leadership skills. <br> <br>

            The mentors make an effort to tackle any topics related to Adolescent girls and young women in all their diversities. We also make an effort to engage the boys in the mentorship sessions in the schools we visit. <strong>PYWV</strong>
             under the Mentorship department also ensures to remind the girls about the importance of checking on their <strong>mental wellbeing</strong> , being that they come from different backgrounds and it may at times feel as if everything is stagnant and they get the feeling of despair. The mentors encourage the girls to always <strong>stay positive</strong>  and not to be afraid to be vulnerable around them as they are there to support them in their physical, emotional, psychological and social well-being. <br> <br>
            
            The mentorship sessions run on a <strong>monthly basis</strong> , with six sessions every month. We also take the liberty to celebrate with the girls on occasions that mark <strong>AGYWs</strong> , like <strong>International day of the girl child and Menstrual hygiene day celebrations</strong> .
            The aim of the mentorship department is nurturing a community of bold female leaders, with the voice of change both at an individual and societal level. <br> <br>
            
            Donations can be made <a href="https://www.changa.co.ke/fundraiser/14948" target="_blank">here</a>   
          </p>
        </div>
      </div>
    </section>

  
  </body>
</html>
{%endblock%}