{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Mercy Wanjiku || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="../../static/images/Mercy Wanjiku. HIV Department Lead.jpg"
            alt="Mercy Wanjiku Positive young women"
            class="personImg"
          />

          <div>
              <h4>Mercy Wanjiku</h4>
              <h6>HIV Department Leader</h6>
              <hr />
              <p>
                Mercy Wanjiku currently sits as the Monitoring and Evaluation Officer at Positive Young Women Voices. She is tasked with assisting and providing guidance on the strategic budget plan of the organization. She helps run HIV campaigns as well as organizing PYWV events.
              </p>
          </div>
        </div>

    </section>
  </body>
  
</html>
{%endblock%}