{%extends 'base.html'%} {%block content%}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'very/mainStyles.css'%}">
    <title>{%block title%}Scholarships || pywv {%endblock%}</title>
  </head>
  <body>
 
    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Scholarships</h1> <br>
         <img src="../../static/images/scholarships.JPG" alt="Gender Rights Promotion- pywv">
           <br><br>
          <p>
            
            <strong>The Timiza Ndoto Zake scholarship Fund</strong>  was inspired by a girl in our mentorship program who came to <strong>PYWV</strong>  office requesting to be supported with school fees. She was in form four and feared she was going to miss out on her <strong>K.C.S.E examination</strong> . Through her moving story, we reached out to Adopt A Girl’s Month Initiative supporters requesting donations to enable us to retain her in school. We managed to clear her school fee balance as well as pay for her education until she completed her K.C.S.E examination and <strong>graduated from high school</strong><br> <br>

            Soon after, we received a donation by one of our supporters to sponsor a girl to school. That is when we identified one of our beneficiaries who had dropped out of school while in form one due to lack of school fees. We gave her the opportunity to achieve her dreams of learning with the aspiration of becoming an Air hostess. She is now enrolled in form one. After her, we noticed a number of girls and parents coming forward requesting for <strong>school fees support</strong> . <br> <br>


            Times are hard for everyone, especially for parents with children in high schools, and it is PYWV’s optimism that we will in future be able to sponsor more than one girl to school.
            <br> <br>
            <strong> We welcome any and all contribution towards our vision </strong>
            <br> <br>
            <a href="https://www.changa.co.ke/fundraiser/55348" target="_blank">Donate</a>
            


            <br> <br>

   
          </p>
        </div>
      </div>
    </section>
   
  </body>
</html>
{%endblock%}
